/* place root variables here */
:root {
    --back: blue;
    --pink: pink;
    --grass: #9b8de0;
    --redish: #e08da0;
    --toast: #f0efbd;
    --light: #dae9f2;
}
/* testing, testing ... */
body {
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: var(--toast);
    color: var(--pink)
}

#hi {
background-color: var(--redish);
color: var(--grass)
}